
<main>
    <div><h2>Registration</h2></div>

    <form>
            <mat-card>
                <mat-form-field>
                        <input matInput name="username" placeholder="Username">
                </mat-form-field>
                <br>

                <mat-form-field>
                        <input matInput name="password" placeholder="Password">
                </mat-form-field>
                <br>

                <button mat-button color="primary">Log In</button>
               
                <br>
                or
                <br>

                <button mat-button color="accent">Sign Up</button>
            </mat-card>
    </form>
 </main>
