
<main>
    <div>Registration</div>

    <form>
            <mat-card>
                <mat-form-field>
                        <input matInput name="username" placeholder="Username">
                </mat-form-field>
                <br>

                <mat-form-field>
                        <input matInput name="password" placeholder="Password">
                </mat-form-field>
                <br>

                <button mat-button color="primary">GO</button>
            </mat-card>
    </form>
 </main>
